/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App{
  padding: 15px;
  margin: 0;
}

/*.App-header{
  background-color: #f9b22d;
}

.Logo-container{
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
}

.App-logo{
   color: white;
   margin: 5px;
  
}

.Header-items li{
  list-style-type: none;
  display: inline;
}

.Header-items li a{
  text-decoration: none;
  color: white;
  font-size:20px;
}

*/

body{
  background-color: #eadedb;
}

.header{
  background-color:  #421140;
  padding: 0;
}

.header li{
  display: inline;
  list-style-type: none;
  margin: 0;
}

.header li a{
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.content{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.active{
  background-color: #f9845d;
}

.blogin
{
  border-radius: 15px;
  padding: 10px;
  color: black;
  font-size: 12pt;
  border-color: #421140;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
 .blogin:hover
 {
   background-color: #421140;
   color:white;
 }
 
 .blogin:disabled
 {
   color: grey;
 }
 
 .ilogin
 {
   border-radius: 5px;
   padding: 10px;
   border-bottom-color: #f9845d;
   font-size: 14pt;
   color: black;
 }




