.subtitlu1{
    display: inline;
    color:#796b7e;
}

input{
    margin: 10px;
    height: 25px;
    
}

select{
    height: 31px;
}

button{
    margin: 10px;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    outline: none;
}