.companieAfisata{
    background-color: #eadedb;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.denumireCompanieAfisata{
    font-size: 30px;
    color: #421140;
    display: inline;
    margin-right: 10px;
}

.tipCompanieAfisata{
    font-size: 25px;
    color: #796b7e;
    display: inline;
}